/target
/downloads

*.db
**/*.db

# Exclude media files (in music directory)
music/
music/**/*.mp3
music/**/*.flac
music/**/*.wav
music/**/*.aac
music/**/*.ogg
music/**/*.m4a
music/**/*.wma
music/**/*.alac
music/**/*.aiff
music/**/*.opus
music/**/*.mp4
music/**/*.mkv
music/**/*.mov
music/**/*.avi
music/**/*.wmv
music/**/*.flv
music/**/*.webm
music/**/*.mpg
music/**/*.mpeg
music/**/*.3gp
music/**/*.rm
music/**/*.rmvb
music/**/*.ts
music/**/*.m2ts
music/**/*.vob
music/**/*.srt
music/**/*.ssa
music/**/*.ass
music/**/*.sub
music/**/*.m4v
music/**/*.db


/.env
*.env
**/.env
**/*.env
.DS_Store
**/.DS_Store

# Docker test directory
.docker-test/