/target
/downloads

# Exclude media files
*.mp3
*.flac
*.wav
*.aac
*.ogg
*.m4a
*.wma
*.alac
*.aiff
*.opus
*.mp4
*.mkv
*.mov
*.avi
*.wmv
*.flv
*.webm
*.mpg
*.mpeg
*.3gp
*.rm
*.rmvb
*.ts
*.m2ts
*.vob
*.srt
*.ssa
*.ass
*.sub
*.m4v

