name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Check formatting
        run: just backend-format-check

      - name: Run clippy
        run: just backend-lint

      - name: Run tests
        run: just backend-test

      - name: Run cargo audit
        run: just backend-audit

      # - name: Run cargo deny
      #   uses: EmbarkStudios/cargo-deny-action@v2
